<p id="notice"><%= notice %></p>

<p>
  <strong>Image1:</strong>
  <%= @this_or_that.image1 %>
</p>

<p>
  <strong>Image2:</strong>
  <%= @this_or_that.image2 %>
</p>

<p>
  <strong>Description:</strong>
  <%= @this_or_that.description %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @this_or_that.comment %>
</p>

<p>
  <strong>Is private:</strong>
  <%= @this_or_that.is_private %>
</p>

<p>
  <strong>User:</strong>
  <%= @this_or_that.user_id %>
</p>

<p>
  <strong>Pants brand:</strong>
  <%= @this_or_that.pants_brand %>
</p>

<p>
  <strong>Shirt brand:</strong>
  <%= @this_or_that.shirt_brand %>
</p>

<p>
  <strong>Shoes brand:</strong>
  <%= @this_or_that.shoes_brand %>
</p>

<p>
  <strong>Hat brand:</strong>
  <%= @this_or_that.hat_brand %>
</p>

<p>
  <strong>Jacket brand:</strong>
  <%= @this_or_that.jacket_brand %>
</p>

<%= link_to 'Edit', edit_this_or_that_path(@this_or_that) %> |
<%= link_to 'Back', this_or_thats_path %>
